.app__contact-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.app__map {
   align-self: flex-end;
   width: 50%;
}
@media screen and (max-width: 1150px) {
   .app__contact-container{
      flex-direction: column;
   }
   .app__map {
      padding-top: 2rem;
      width: 100%;
   }
}